*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Fredoka";
  scroll-behavior: smooth;
}
a:hover{
  cursor: pointer;
}

body {
    background-color: black;
    text-shadow: rgb(49, 49, 49) 0.05em 0.05em 0.05em;
}

.black {
    background-color: black;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 0 10px 0;
  }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

li {
    letter-spacing: 0.08em
}

a:hover{
    color: rgb(197, 48, 48);
    transition: all 1s;
  }

a {
    text-decoration: none;
    text-decoration-style: none;
    color: white;
  }

span {
  color: #C23431;
}

.project {
  overflow: hidden;
  border-radius: 0;
}

.project img {
  
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.project:hover {
  color:#f73f3b;
  text-shadow: rgb(240, 240, 240) 0.02em 0.02em 0.02em;
  font-size: 4.2vw;
  cursor: pointer;
  transition: all 2s;
}

.project:hover img {
  transform: scale(1.08);
  opacity: 0.3;
  transition: all 2s;
}